---
---
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@charset "utf-8";

/* Constants */
$font-size-body: 16px;

/* Colors */
$dark: #36393b;
$clear: white;
$accent: #dab49b;
$secondary: #634d55;

html, body {
    height: 90%;
}

body {
    /* General styles */
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $dark;
}

// Default layout
div.go-home {
  margin: 10px 0 0 10px;
  svg {
    display: inline-block;
    width: $font-size-body * 4;
    height: $font-size-body * 4;
    vertical-align: middle;
  }
}

div.page-content {
    padding: 20px 20px;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
}
