---
layout: default
---

<div>
    <ul class="note-dir-menu">
        <li><span><a href={{ site.baseurl | append: '/' }}>Notas</a></span></li>

        {% assign parents = page.dir | remove_first: "/notes/" | split: "/" %}
        {% assign parent_url = site.baseurl | append: "/notes"%}
        {% for parent in parents %}
            {% assign parent_url = parent_url | append: '/' | append: parent %}
            <li><span><a href={{ parent_url }}>{{ parent | url_decode }}</a></span></li>
        {% endfor %}
    </ul>

    <h1>{{page.name | remove: ".md"}}</h1>
    {{content}}
</div>
